<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style_index.css">
    <title>Document</title>
</head>
<body>

    <div class="text">
        <h1 style="font-family: 'Poppins', sans-serif;">Rest API Login Form</h1>  
        <button class="button button2"><a href="/login">Login</a></button>
        <button class="button button3" ><a href="/register">Registrar</a></button>
    </div>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
    </style>


</body>
</html>