<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">

    <meta name="theme-color" content="#fafafa">
  </head>
  
  <body>
  
      <div class="login">
          <h1>Register</h1>
          <form method="POST" action="/register">
              <input type="text" name="name" placeholder="Name" required="required" value=""/>
              <input type="email" name="email" placeholder="E-mail" required="required" value=""/>
              <input type="password" name="password" placeholder="Password" required="required" value=""/>
              <button type="submit" class="btn btn-primary btn-block btn-large">Enter</button>
          </form>
          <a href="/login">Login</a>
      </div>

  
  </body>
  
  </html>